Source: debian-system-adjustments
Section: admin
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9) 
Standards-Version: 3.9.6

Package: debian-system-adjustments
Architecture: all
Depends: ${misc:Depends},
         libglib2.0-bin,
         python
Description: Debian system adjustments
 This package contains scripts and files that changes 
 from Debian to Gooroom Flatform based enviroment.
