Source: debian-system-adjustments
Section: admin
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9),
               fonts-naver-d2coding,
               grub-common
Standards-Version: 3.9.6
Homepage: http://www.gooroom.kr
Vcs-Git: https://github.com/gooroom/debian-system-adjustments.git
Vcs-Browser: https://github.com/gooroom/debian-system-adjustments

Package: debian-system-adjustments
Architecture: all
Depends: ${misc:Depends},
         libglib2.0-bin,
         python2.7,
         libpam-pwquality,
         ayatana-indicator-application
Description: Debian system adjustments
 This package contains scripts and files that changes 
 from Debian to Gooroom Flatform based enviroment.
