[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nimf Settings
Name[de]=Nimf Einstellungen
Name[ko]=입력기 설정
Exec=nimf-settings
Icon=nimf-logo
Categories=System
Terminal=false
