[Desktop Entry]
Name[cs]=Síť (GNOME historické)
Name[da]=Netværk (GNOME Flashback)
Name[de]=Netzwerk (GNOME Flashback)
Name[el]=Δίκτυο (GNOME Flashback)
Name[es]=Red (GNOME Flashback)
Name[eu]=Sarea (GNOME Flashback)
Name[fur]=Rêt (GNOME Flashback)
Name[hu]=Hálózat (GNOME Flashback)
Name[id]=Jaringan (GNOME Flashback)
Name[it]=Rete (GNOME Flashback)
Name[pl]=Sieć (Tradycyjne środowisko GNOME)
Name[pt]=Rede (GNOME Flashback)
Name[pt_BR]=Rede (GNOME Flashback)
Name[ru]=Сеть (GNOME Flashback)
Name[sk]=Sieť (Klasické prostredie GNOME)
Name[sr]=Мрежа (Стари Гном)
Name[sr@latin]=Mreža (Stari Gnom)
Name[sv]=Nätverk (GNOME Flashback)
Name[zh_CN]=网络 (GNOME Flashback)
Name=Network (GNOME Flashback)
Comment[ca]=Gestioneu les connexions de xarxa
Comment[cs]=Spravujte svá síťová připojení
Comment[da]=Håndtér dine netværksforbindelser
Comment[de]=Ihre Netzwerkverbindungen verwalten
Comment[el]=Διαχείριση των συνδέσεων δικτύου
Comment[es]=Administre sus conexiones de red
Comment[eu]=Kudeatu sareko konexioak
Comment[fur]=Gjestìs lis conessions di rêt
Comment[hu]=Hálózati kapcsolatok kezelése
Comment[id]=Kelola koneksi jaringan Anda
Comment[it]=Gestisce le connessioni di rete
Comment[pl]=Zarządzanie połączeniami sieciowymi
Comment[pt]=Gerir as suas ligações de rede
Comment[pt_BR]=Gerencie suas conexões de rede
Comment[ru]=Управление сетевыми подключениями
Comment[sk]=Spravuje vaše sieťové pripojenia
Comment[sr]=Управљајте мрежним повезивањима
Comment[sr@latin]=Upravljajte mrežnim povezivanjima
Comment[sv]=Hantera dina nätverksanslutningar
Comment[zh_CN]=管理您的网络连接
Comment=Manage your network connections
# TRANSLATORS: Don't translate this text (this is icon name)
Icon[cs]=nm-device-wireless
Icon[da]=nm-device-wireless
Icon[de]=nm-device-wireless
Icon[el]=nm-device-wireless
Icon[es]=nm-device-wireless
Icon[eu]=nm-device-wireless
Icon[fur]=nm-device-wireless
Icon[hu]=nm-device-wireless
Icon[id]=nm-device-wireless
Icon[it]=nm-device-wireless
Icon[pl]=nm-device-wireless
Icon[pt]=nm-device-wireless
Icon[pt_BR]=nm-device-wireless
Icon[ru]=nm-device-wireless
Icon[sk]=nm-device-wireless
Icon[sr]=nm-device-wireless
Icon[sr@latin]=nm-device-wireless
Icon[sv]=nm-device-wireless
Icon[zh_CN]=nm-device-wireless
Icon=nm-device-wireless
Exec=nm-applet --indicator
TryExec=nm-applet
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=GNOME-Flashback;
X-GNOME-UsesNotifications=true
